html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
  background-color: #dddcdc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: 100px;
  font-weight: 50;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(175, 47, 47, 0.15);
  margin: 0;
}

.container {
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.add-task-field_container {
  min-width: 550px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.add-task-field_label {
  align-self: center;
}

.add-field {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin: 0;
  font-size: 30px;
  color: black;
  border: none;
}

.add-field_checkbox--checked {
  fill-opacity : 0.25
}

.add-field:focus {
  outline: none;
}

.add-field::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  opacity: 0.4;
  font-style: italic;
}

.edit-field {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin: 0;
  font-size: 30px;
  color: black;
  border: none;
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
}

.edit-field:focus {
  outline: none;
}

.task-list {
  margin: 0;
  padding: 0;
  min-width: 500px;
  max-width: 550px;
}

.task-item {
  padding: 0;
  margin: 0;
  background-color: white;
  border-top: 0.01px solid rgb(211,211,211);
  width: 549px;
  min-height: 50px;
  list-style-type: none;
  text-align: left;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
}

.task-item_label {
  margin-top: 10px ;
}

.task-item_checkbox {
  display: none;
}

.task-item_box {
  display: inline-block;
  width:  25px;
  height: 25px;
  border: 0.5px solid gray;
  border-radius: 50%;
  margin-left: 7px;
  position: relative;
}

.task-item_box::before {
  content: '✓';
  color: #08e8de;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.task-item_checkbox:checked + .task-item_box::before {
  opacity: 1;
}

.task-item_text {
  display: flex;
  justify-content: space-between;
  margin: 0;
  color:  black;
  padding-left: 7px;
  width: 100%;
}


.task-item_text--through {
  color: rgb(183, 182, 182);
  text-decoration: line-through;
}

.task-item_delete {
  margin-right: 20px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.task-item_delete-button {
  background-color: transparent;
  color: rgba(175, 47, 47, 0.45);
  font-size: 15px;
  font-weight: 700;
  border: none;
  outline: 0;
  opacity: 0;
}

.task-item_delete-button:hover {
  color: rgba(175, 47, 47, 1);;
}

.task-item:hover .task-item_delete-button {
opacity: 1;
}

.controls-panel {
  color: gray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  width: 550px;
  min-height: 30px ;
  border-top: 0.1px solid rgb(211,211,211);
  font-size: 10px;
}

.paper-shadow {
  background: #fff;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
}

.buttons-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.count {
  align-self: center;
  margin-left: 7px;
}

.nav-item {
  margin-left: 10px;
  padding: 3px;
}

.nav-item--active {
  outline: 1px solid rgba(175, 47, 47, 0.35);
}

.nav-item:hover {
  outline: 1px solid rgba(175, 47, 47, 0.15);
  border-radius: 5%;
}

.buttonWrapper {
  font-family: 'Open Sans', sans-serif;
  color: gray;
  border: none;
  background-color: white;
  align-self: center;
  margin-right: 7px;
}

.buttonWrapper button {
  padding: 0;
  font-size: 10px;
}

.buttonWrapper button:hover {
  text-decoration: underline;
}

.nav-item a {
  font-family: 'Open Sans', sans-serif;
  color: gray;
  border: none;
  background-color: white;
  text-decoration: none;
}

.clear-button {
  font-family: 'Open Sans', sans-serif;
  color: gray;
  border: none;
  background-color: white;
  min-height: 30px;
  align-self: center;
  cursor: pointer;
}

.clear-button:disabled {
  opacity: 0;
  cursor: default;
}

.active-button {
  border: 1px solid gray;
  border-radius: 20%;
}